
<%- include("../components/head") %>
<body>
    <%- include("../components/dashboard/sidebar") %>
    <main>
        <%- include("../components/dashboard/navbar") %>
    <h1>Hi user welcome</h1>
    </main>
</body>
<script src="/js/dashboard/home.js"></script>
</html>