.wrapper{
    margin-top: 70px;
    display: flex;  
    gap:40px;
    align-items: start;
    .filter{
        flex:1;
        width: 411px;
        margin-bottom: 30px;
        padding-right: 20px;
        border-right: 1px solid #DDDDDD;
        position: sticky;
        top: 0;
        .sortby{
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color:white;
            box-shadow: 0 2px 10px 0 #0c0c0c27;
            padding: 14px;
        
            div{
                display: flex;
                align-items: center;
                gap: 8px;
                p{
                    margin:0;
                    font-size:14px;
                    font-weight: 600;
                    color:#000000;
                }
            }
            select{
                padding:10px;
                border-radius: 6px;
                border: 1px solid #D6DAE1;
            }
        }
        .ftype{
            display: flex;
            flex-direction: column;
            gap: 10px;
            position: relative;
            margin-bottom: 15px;
            label{
                font-weight: 500;
                font-size: 14px;
            }
            input,select{
                padding: 10px;
                border-radius: 6px;
                border: 1px solid #D6DAE1;
                &:focus-visible{
                    border: 1px solid #D6DAE1;
                    outline: none;
                }
            }
            p{
                position:absolute;
                bottom:-25px;
            }
        }
        .map{
            height: 294px;
            width: 100%;
            border-radius: 6px;
            object-fit: cover;
        }
        .submit-cancel-btn{
            display: flex;
            width: 100%;
            align-items: center;
            gap:10px;
            margin-top: 15px;
            .cancel-btn{
                width: 100%;
                color: #0A66C2;
                background-color: white;
                padding: 8px 25px;
                border-radius: 6px;
                border: 1px solid #0A66C2;
                }
            .submit-btn{
            width: 100%;
            color: white;
            background-color: #0A66C2;
            padding: 8px 25px;
            border: none;
            border-radius: 6px
            }
        }
    }
    .filter-block{
        flex:3;
        #queryParameters{
            margin-bottom:40px;
        }
        .filter-content{
            display: flex;
            flex-wrap: wrap;
            gap:50px;
            .filter-card{
                position: relative;
                .filter-card-wrapper{
                    outline:5px solid #0A66C2;
                    outline-offset: 4px;
                    height:280px;
                    width:240px;
                    border: 3px solid white;
                    border-radius: 9px;
                    position: relative;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 9px;
                    }
                    .card-content {
                        position:absolute;
                        bottom: 12px;
                        left: 12px;
                        
                        background-color: white;
                        border-radius:6px;
                        padding:6px;
                        width:130px;
                        .card-title{
                            display:flex;
                            align-items: center;
                            justify-content: space-between;
                            p{
                                margin: 0;
                                font-size: 15px;
                                font-weight: 600;
                                color: #000000;
                            }
                            
                        }
                        p{
                            margin:0;
                            font-size: 13px;
                            color: #000000;
                        }
                        .location-title{
                            display:flex;
                            align-items: center;
                            gap:10px;
                            p{
                                margin: 0;
                            }
                            
                        }
                    }
                
                    
                }
                .badger{
                    position: absolute;
                    top: -22px;
                    left: -17px;
                    z-index: 1;
                }
                .paw{
                    position: absolute;
                    top: -33px;
                    right: -36px;
                }
            & :hover{
                .card-content{
                    background-color:#0A66C2;
                    p{
                        color: white !important;
                    }
                }
            }
            }
            
        }
    }
    
}




