<%- include("../components/head") %>
<body>
    <div class="login-logo">
        <a href="/">
            <svg width="236" height="50" viewBox="0 0 236 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M59.9994 33.7616V35.9456H49.1574V17.9276H51.6794V33.7616H59.9994ZM74.1131 29.1856C74.1131 30.2602 73.9571 31.2309 73.6451 32.0976C73.3331 32.9642 72.8911 33.7096 72.3191 34.3336C71.7645 34.9576 71.0971 35.4429 70.3171 35.7896C69.5371 36.1189 68.6878 36.2836 67.7691 36.2836C66.8505 36.2836 66.0011 36.1189 65.2211 35.7896C64.4411 35.4429 63.7651 34.9576 63.1931 34.3336C62.6385 33.7096 62.2051 32.9642 61.8931 32.0976C61.5811 31.2309 61.4251 30.2602 61.4251 29.1856C61.4251 28.1282 61.5811 27.1662 61.8931 26.2996C62.2051 25.4156 62.6385 24.6616 63.1931 24.0376C63.7651 23.4136 64.4411 22.9369 65.2211 22.6076C66.0011 22.2609 66.8505 22.0876 67.7691 22.0876C68.6878 22.0876 69.5371 22.2609 70.3171 22.6076C71.0971 22.9369 71.7645 23.4136 72.3191 24.0376C72.8911 24.6616 73.3331 25.4156 73.6451 26.2996C73.9571 27.1662 74.1131 28.1282 74.1131 29.1856ZM71.5911 29.1856C71.5911 27.6602 71.2445 26.4556 70.5511 25.5716C69.8751 24.6702 68.9478 24.2196 67.7691 24.2196C66.5905 24.2196 65.6545 24.6702 64.9611 25.5716C64.2851 26.4556 63.9471 27.6602 63.9471 29.1856C63.9471 30.7109 64.2851 31.9242 64.9611 32.8256C65.6545 33.7096 66.5905 34.1516 67.7691 34.1516C68.9478 34.1516 69.8751 33.7096 70.5511 32.8256C71.2445 31.9242 71.5911 30.7109 71.5911 29.1856ZM80.6611 34.2036C81.6491 34.2036 82.3771 34.0736 82.8451 33.8136C83.3304 33.5536 83.5731 33.1376 83.5731 32.5656C83.5731 31.9762 83.3391 31.5082 82.8711 31.1616C82.4031 30.8149 81.6317 30.4249 80.5571 29.9916C80.0371 29.7836 79.5344 29.5756 79.0491 29.3676C78.5811 29.1422 78.1737 28.8822 77.8271 28.5876C77.4804 28.2929 77.2031 27.9376 76.9951 27.5216C76.7871 27.1056 76.6831 26.5942 76.6831 25.9876C76.6831 24.7916 77.1251 23.8469 78.0091 23.1536C78.8931 22.4429 80.0977 22.0876 81.6231 22.0876C82.0044 22.0876 82.3857 22.1136 82.7671 22.1656C83.1484 22.2002 83.5037 22.2522 83.8331 22.3216C84.1624 22.3736 84.4484 22.4342 84.6911 22.5036C84.9511 22.5729 85.1504 22.6336 85.2891 22.6856L84.8471 24.7656C84.5871 24.6269 84.1797 24.4882 83.6251 24.3496C83.0704 24.1936 82.4031 24.1156 81.6231 24.1156C80.9471 24.1156 80.3577 24.2542 79.8551 24.5316C79.3524 24.7916 79.1011 25.2076 79.1011 25.7796C79.1011 26.0742 79.1531 26.3342 79.2571 26.5596C79.3784 26.7849 79.5517 26.9929 79.7771 27.1836C80.0197 27.3569 80.3144 27.5216 80.6611 27.6776C81.0077 27.8336 81.4237 27.9982 81.9091 28.1716C82.5504 28.4142 83.1224 28.6569 83.6251 28.8996C84.1277 29.1249 84.5524 29.3936 84.8991 29.7056C85.2631 30.0176 85.5404 30.3989 85.7311 30.8496C85.9217 31.2829 86.0171 31.8202 86.0171 32.4616C86.0171 33.7096 85.5491 34.6542 84.6131 35.2956C83.6944 35.9369 82.3771 36.2576 80.6611 36.2576C79.4651 36.2576 78.5291 36.1536 77.8531 35.9456C77.1771 35.7549 76.7177 35.6076 76.4751 35.5036L76.9171 33.4236C77.1944 33.5276 77.6364 33.6836 78.2431 33.8916C78.8497 34.0996 79.6557 34.2036 80.6611 34.2036ZM91.3806 22.4256H96.5026V24.4536H91.3806V30.6936C91.3806 31.3696 91.4326 31.9329 91.5366 32.3836C91.6406 32.8169 91.7966 33.1636 92.0046 33.4236C92.2126 33.6662 92.4726 33.8396 92.7846 33.9436C93.0966 34.0476 93.4606 34.0996 93.8766 34.0996C94.6046 34.0996 95.1852 34.0216 95.6186 33.8656C96.0692 33.6922 96.3812 33.5709 96.5546 33.5016L97.0226 35.5036C96.7799 35.6249 96.3552 35.7722 95.7486 35.9456C95.1419 36.1362 94.4486 36.2316 93.6686 36.2316C92.7499 36.2316 91.9872 36.1189 91.3806 35.8936C90.7912 35.6509 90.3146 35.2956 89.9506 34.8276C89.5866 34.3596 89.3266 33.7876 89.1706 33.1116C89.0319 32.4182 88.9626 31.6209 88.9626 30.7196V18.6556L91.3806 18.2396V22.4256ZM108.966 29.2116C108.966 27.6342 108.576 26.4209 107.796 25.5716C107.016 24.7222 105.976 24.2976 104.676 24.2976C103.948 24.2976 103.376 24.3236 102.96 24.3756C102.561 24.4276 102.24 24.4882 101.998 24.5576V33.0856C102.292 33.3282 102.717 33.5622 103.272 33.7876C103.826 34.0129 104.433 34.1256 105.092 34.1256C105.785 34.1256 106.374 34.0042 106.86 33.7616C107.362 33.5016 107.77 33.1549 108.082 32.7216C108.394 32.2709 108.619 31.7509 108.758 31.1616C108.896 30.5549 108.966 29.9049 108.966 29.2116ZM111.488 29.2116C111.488 30.2342 111.349 31.1789 111.072 32.0456C110.812 32.9122 110.422 33.6576 109.902 34.2816C109.382 34.9056 108.74 35.3909 107.978 35.7376C107.232 36.0842 106.374 36.2576 105.404 36.2576C104.624 36.2576 103.93 36.1536 103.324 35.9456C102.734 35.7376 102.292 35.5382 101.998 35.3476V40.7556H99.5795V22.8416C100.152 22.7029 100.862 22.5556 101.712 22.3996C102.578 22.2262 103.575 22.1396 104.702 22.1396C105.742 22.1396 106.678 22.3042 107.51 22.6336C108.342 22.9629 109.052 23.4309 109.642 24.0376C110.231 24.6442 110.682 25.3896 110.994 26.2736C111.323 27.1402 111.488 28.1196 111.488 29.2116ZM119.466 34.2036C120.038 34.2036 120.541 34.1949 120.974 34.1776C121.425 34.1429 121.797 34.0909 122.092 34.0216V29.9916C121.919 29.9049 121.633 29.8356 121.234 29.7836C120.853 29.7142 120.385 29.6796 119.83 29.6796C119.466 29.6796 119.076 29.7056 118.66 29.7576C118.261 29.8096 117.889 29.9222 117.542 30.0956C117.213 30.2516 116.935 30.4769 116.71 30.7716C116.485 31.0489 116.372 31.4216 116.372 31.8896C116.372 32.7562 116.649 33.3629 117.204 33.7096C117.759 34.0389 118.513 34.2036 119.466 34.2036ZM119.258 22.0876C120.229 22.0876 121.043 22.2176 121.702 22.4776C122.378 22.7202 122.915 23.0756 123.314 23.5436C123.73 23.9942 124.025 24.5402 124.198 25.1816C124.371 25.8056 124.458 26.4989 124.458 27.2616V35.7116C124.25 35.7462 123.955 35.7982 123.574 35.8676C123.21 35.9196 122.794 35.9716 122.326 36.0236C121.858 36.0756 121.347 36.1189 120.792 36.1536C120.255 36.2056 119.717 36.2316 119.18 36.2316C118.417 36.2316 117.715 36.1536 117.074 35.9976C116.433 35.8416 115.878 35.5989 115.41 35.2696C114.942 34.9229 114.578 34.4722 114.318 33.9176C114.058 33.3629 113.928 32.6956 113.928 31.9156C113.928 31.1702 114.075 30.5289 114.37 29.9916C114.682 29.4542 115.098 29.0209 115.618 28.6916C116.138 28.3622 116.745 28.1196 117.438 27.9636C118.131 27.8076 118.859 27.7296 119.622 27.7296C119.865 27.7296 120.116 27.7469 120.376 27.7816C120.636 27.7989 120.879 27.8336 121.104 27.8856C121.347 27.9202 121.555 27.9549 121.728 27.9896C121.901 28.0242 122.023 28.0502 122.092 28.0676V27.3916C122.092 26.9929 122.049 26.6029 121.962 26.2216C121.875 25.8229 121.719 25.4762 121.494 25.1816C121.269 24.8696 120.957 24.6269 120.558 24.4536C120.177 24.2629 119.674 24.1676 119.05 24.1676C118.253 24.1676 117.551 24.2282 116.944 24.3496C116.355 24.4536 115.913 24.5662 115.618 24.6876L115.332 22.6856C115.644 22.5469 116.164 22.4169 116.892 22.2956C117.62 22.1569 118.409 22.0876 119.258 22.0876ZM139.219 35.9456C138.734 34.6976 138.214 33.2762 137.659 31.6816C137.122 30.0696 136.628 28.3969 136.177 26.6636C135.727 28.3969 135.233 30.0696 134.695 31.6816C134.158 33.2762 133.647 34.6976 133.161 35.9456H131.055C130.258 34.1602 129.478 32.1236 128.715 29.8356C127.953 27.5476 127.233 25.0776 126.557 22.4256H129.157C129.331 23.2402 129.539 24.1242 129.781 25.0776C130.024 26.0309 130.275 26.9842 130.535 27.9376C130.813 28.8909 131.099 29.8096 131.393 30.6936C131.688 31.5776 131.965 32.3489 132.225 33.0076C132.52 32.1929 132.806 31.3349 133.083 30.4336C133.378 29.5149 133.655 28.5962 133.915 27.6776C134.175 26.7416 134.418 25.8316 134.643 24.9476C134.886 24.0462 135.094 23.2056 135.267 22.4256H137.269C137.425 23.2056 137.616 24.0462 137.841 24.9476C138.067 25.8316 138.309 26.7416 138.569 27.6776C138.829 28.5962 139.098 29.5149 139.375 30.4336C139.67 31.3349 139.965 32.1929 140.259 33.0076C140.519 32.3489 140.788 31.5776 141.065 30.6936C141.36 29.8096 141.646 28.8909 141.923 27.9376C142.201 26.9842 142.461 26.0309 142.703 25.0776C142.946 24.1242 143.154 23.2402 143.327 22.4256H145.823C145.147 25.0776 144.428 27.5476 143.665 29.8356C142.903 32.1236 142.123 34.1602 141.325 35.9456H139.219ZM151.526 34.2036C152.514 34.2036 153.242 34.0736 153.71 33.8136C154.196 33.5536 154.438 33.1376 154.438 32.5656C154.438 31.9762 154.204 31.5082 153.736 31.1616C153.268 30.8149 152.497 30.4249 151.422 29.9916C150.902 29.7836 150.4 29.5756 149.914 29.3676C149.446 29.1422 149.039 28.8822 148.692 28.5876C148.346 28.2929 148.068 27.9376 147.86 27.5216C147.652 27.1056 147.548 26.5942 147.548 25.9876C147.548 24.7916 147.99 23.8469 148.874 23.1536C149.758 22.4429 150.963 22.0876 152.488 22.0876C152.87 22.0876 153.251 22.1136 153.632 22.1656C154.014 22.2002 154.369 22.2522 154.698 22.3216C155.028 22.3736 155.314 22.4342 155.556 22.5036C155.816 22.5729 156.016 22.6336 156.154 22.6856L155.712 24.7656C155.452 24.6269 155.045 24.4882 154.49 24.3496C153.936 24.1936 153.268 24.1156 152.488 24.1156C151.812 24.1156 151.223 24.2542 150.72 24.5316C150.218 24.7916 149.966 25.2076 149.966 25.7796C149.966 26.0742 150.018 26.3342 150.122 26.5596C150.244 26.7849 150.417 26.9929 150.642 27.1836C150.885 27.3569 151.18 27.5216 151.526 27.6776C151.873 27.8336 152.289 27.9982 152.774 28.1716C153.416 28.4142 153.988 28.6569 154.49 28.8996C154.993 29.1249 155.418 29.3936 155.764 29.7056C156.128 30.0176 156.406 30.3989 156.596 30.8496C156.787 31.2829 156.882 31.8202 156.882 32.4616C156.882 33.7096 156.414 34.6542 155.478 35.2956C154.56 35.9369 153.242 36.2576 151.526 36.2576C150.33 36.2576 149.394 36.1536 148.718 35.9456C148.042 35.7549 147.583 35.6076 147.34 35.5036L147.782 33.4236C148.06 33.5276 148.502 33.6836 149.108 33.8916C149.715 34.0996 150.521 34.2036 151.526 34.2036ZM158.58 27.0276H165.002V29.2896H158.58V27.0276ZM180.259 35.9456C179.878 35.3042 179.436 34.5849 178.933 33.7876C178.448 32.9902 177.919 32.1669 177.347 31.3176C176.775 30.4509 176.177 29.5756 175.553 28.6916C174.947 27.8076 174.34 26.9582 173.733 26.1436C173.127 25.3116 172.537 24.5316 171.965 23.8036C171.393 23.0756 170.865 22.4342 170.379 21.8796V35.9456H167.909V17.9276H169.911C170.726 18.7942 171.593 19.8082 172.511 20.9696C173.447 22.1136 174.366 23.3009 175.267 24.5316C176.186 25.7449 177.044 26.9409 177.841 28.1196C178.656 29.2982 179.341 30.3469 179.895 31.2656V17.9276H182.365V35.9456H180.259ZM185.915 29.2116C185.915 28.0156 186.089 26.9756 186.435 26.0916C186.782 25.1902 187.241 24.4449 187.813 23.8556C188.385 23.2662 189.044 22.8242 189.789 22.5296C190.535 22.2349 191.297 22.0876 192.077 22.0876C193.897 22.0876 195.293 22.6596 196.263 23.8036C197.234 24.9302 197.719 26.6549 197.719 28.9776C197.719 29.0816 197.719 29.2202 197.719 29.3936C197.719 29.5496 197.711 29.6969 197.693 29.8356H188.437C188.541 31.2396 188.949 32.3056 189.659 33.0336C190.37 33.7616 191.479 34.1256 192.987 34.1256C193.837 34.1256 194.547 34.0562 195.119 33.9176C195.709 33.7616 196.151 33.6142 196.445 33.4756L196.783 35.5036C196.489 35.6596 195.969 35.8242 195.223 35.9976C194.495 36.1709 193.663 36.2576 192.727 36.2576C191.549 36.2576 190.526 36.0842 189.659 35.7376C188.81 35.3736 188.108 34.8796 187.553 34.2556C186.999 33.6316 186.583 32.8949 186.305 32.0456C186.045 31.1789 185.915 30.2342 185.915 29.2116ZM195.197 27.8856C195.215 26.7936 194.937 25.9009 194.365 25.2076C193.811 24.4969 193.039 24.1416 192.051 24.1416C191.497 24.1416 191.003 24.2542 190.569 24.4796C190.153 24.6876 189.798 24.9649 189.503 25.3116C189.209 25.6582 188.975 26.0569 188.801 26.5076C188.645 26.9582 188.541 27.4176 188.489 27.8856H195.197ZM210.579 29.2116C210.579 27.6342 210.189 26.4209 209.409 25.5716C208.629 24.7222 207.589 24.2976 206.289 24.2976C205.561 24.2976 204.989 24.3236 204.573 24.3756C204.174 24.4276 203.853 24.4882 203.611 24.5576V33.0856C203.905 33.3282 204.33 33.5622 204.885 33.7876C205.439 34.0129 206.046 34.1256 206.705 34.1256C207.398 34.1256 207.987 34.0042 208.473 33.7616C208.975 33.5016 209.383 33.1549 209.695 32.7216C210.007 32.2709 210.232 31.7509 210.371 31.1616C210.509 30.5549 210.579 29.9049 210.579 29.2116ZM213.101 29.2116C213.101 30.2342 212.962 31.1789 212.685 32.0456C212.425 32.9122 212.035 33.6576 211.515 34.2816C210.995 34.9056 210.353 35.3909 209.591 35.7376C208.845 36.0842 207.987 36.2576 207.017 36.2576C206.237 36.2576 205.543 36.1536 204.937 35.9456C204.347 35.7376 203.905 35.5382 203.611 35.3476V40.7556H201.193V22.8416C201.765 22.7029 202.475 22.5556 203.325 22.3996C204.191 22.2262 205.188 22.1396 206.315 22.1396C207.355 22.1396 208.291 22.3042 209.123 22.6336C209.955 22.9629 210.665 23.4309 211.255 24.0376C211.844 24.6442 212.295 25.3896 212.607 26.2736C212.936 27.1402 213.101 28.1196 213.101 29.2116ZM221.079 34.2036C221.651 34.2036 222.154 34.1949 222.587 34.1776C223.038 34.1429 223.411 34.0909 223.705 34.0216V29.9916C223.532 29.9049 223.246 29.8356 222.847 29.7836C222.466 29.7142 221.998 29.6796 221.443 29.6796C221.079 29.6796 220.689 29.7056 220.273 29.7576C219.875 29.8096 219.502 29.9222 219.155 30.0956C218.826 30.2516 218.549 30.4769 218.323 30.7716C218.098 31.0489 217.985 31.4216 217.985 31.8896C217.985 32.7562 218.263 33.3629 218.817 33.7096C219.372 34.0389 220.126 34.2036 221.079 34.2036ZM220.871 22.0876C221.842 22.0876 222.657 22.2176 223.315 22.4776C223.991 22.7202 224.529 23.0756 224.927 23.5436C225.343 23.9942 225.638 24.5402 225.811 25.1816C225.985 25.8056 226.071 26.4989 226.071 27.2616V35.7116C225.863 35.7462 225.569 35.7982 225.187 35.8676C224.823 35.9196 224.407 35.9716 223.939 36.0236C223.471 36.0756 222.96 36.1189 222.405 36.1536C221.868 36.2056 221.331 36.2316 220.793 36.2316C220.031 36.2316 219.329 36.1536 218.687 35.9976C218.046 35.8416 217.491 35.5989 217.023 35.2696C216.555 34.9229 216.191 34.4722 215.931 33.9176C215.671 33.3629 215.541 32.6956 215.541 31.9156C215.541 31.1702 215.689 30.5289 215.983 29.9916C216.295 29.4542 216.711 29.0209 217.231 28.6916C217.751 28.3622 218.358 28.1196 219.051 27.9636C219.745 27.8076 220.473 27.7296 221.235 27.7296C221.478 27.7296 221.729 27.7469 221.989 27.7816C222.249 27.7989 222.492 27.8336 222.717 27.8856C222.96 27.9202 223.168 27.9549 223.341 27.9896C223.515 28.0242 223.636 28.0502 223.705 28.0676V27.3916C223.705 26.9929 223.662 26.6029 223.575 26.2216C223.489 25.8229 223.333 25.4762 223.107 25.1816C222.882 24.8696 222.57 24.6269 222.171 24.4536C221.79 24.2629 221.287 24.1676 220.663 24.1676C219.866 24.1676 219.164 24.2282 218.557 24.3496C217.968 24.4536 217.526 24.5662 217.231 24.6876L216.945 22.6856C217.257 22.5469 217.777 22.4169 218.505 22.2956C219.233 22.1569 220.022 22.0876 220.871 22.0876ZM234.143 36.2056C232.653 36.1709 231.595 35.8502 230.971 35.2436C230.347 34.6369 230.035 33.6922 230.035 32.4096V16.1856L232.453 15.7696V32.0196C232.453 32.4182 232.488 32.7476 232.557 33.0076C232.627 33.2676 232.739 33.4756 232.895 33.6316C233.051 33.7876 233.259 33.9089 233.519 33.9956C233.779 34.0649 234.1 34.1256 234.481 34.1776L234.143 36.2056Z" fill="#292929"/>
                <path d="M26.6362 34.6325C27.0362 36.4825 25.0302 36.8845 24.1452 36.6435C23.2584 36.4716 22.3583 36.3776 21.4552 36.3625C20.5504 36.3775 19.6486 36.4716 18.7602 36.6435C17.8752 36.8865 15.8602 36.4825 16.2662 34.6325C16.6722 32.7825 18.4382 32.8625 18.9212 30.3685C18.9719 29.7317 19.2606 29.1374 19.7298 28.704C20.1991 28.2706 20.8144 28.0299 21.4532 28.0299C22.092 28.0299 22.7073 28.2706 23.1766 28.704C23.6458 29.1374 23.9345 29.7317 23.9852 30.3685C24.4682 32.8625 26.2352 32.7825 26.6362 34.6325ZM23.3122 27.8725C23.9221 27.9659 24.5444 27.8175 25.0465 27.4589C25.5486 27.1002 25.8908 26.5597 26.0002 25.9525C26.2308 25.3802 26.2289 24.7406 25.9948 24.1698C25.7608 23.599 25.3131 23.1421 24.7472 22.8965C24.1373 22.803 23.515 22.9514 23.0129 23.31C22.5108 23.6687 22.1686 24.2092 22.0592 24.8165C21.8287 25.3888 21.8307 26.0285 22.065 26.5994C22.2992 27.1702 22.7471 27.627 23.3132 27.8725H23.3122ZM27.8252 27.3725C27.2287 27.2146 26.5942 27.296 26.0568 27.5991C25.5194 27.9023 25.1216 28.4033 24.9482 28.9955C24.6577 29.5398 24.5913 30.176 24.7632 30.7685C24.935 31.3611 25.3315 31.8631 25.8682 32.1675C26.4647 32.325 27.0991 32.2435 27.6364 31.9404C28.1737 31.6373 28.5716 31.1364 28.7452 30.5445C29.0351 29.9996 29.1008 29.3631 28.9281 28.7706C28.7555 28.1781 28.3583 27.6764 27.8212 27.3725H27.8252ZM19.5902 27.8725C20.1559 27.6266 20.6034 27.1697 20.8374 26.599C21.0715 26.0282 21.0735 25.3887 20.8432 24.8165C20.7333 24.2095 20.391 23.6694 19.889 23.311C19.387 22.9526 18.7649 22.8042 18.1552 22.8975C17.5896 23.1435 17.1423 23.6004 16.9083 24.1711C16.6743 24.7418 16.6721 25.3812 16.9022 25.9535C17.0118 26.5607 17.3543 27.1012 17.8566 27.4596C18.3589 27.8181 18.9813 27.9662 19.5912 27.8725H19.5902ZM17.0362 32.1665C17.5727 31.8619 17.969 31.3599 18.1408 30.7674C18.3127 30.175 18.2464 29.5388 17.9562 28.9945C17.7826 28.4025 17.3847 27.9016 16.8474 27.5985C16.3101 27.2954 15.6757 27.2139 15.0792 27.3715C14.5427 27.676 14.1464 28.178 13.9746 28.7705C13.8027 29.363 13.869 29.9991 14.1592 30.5435C14.3326 31.1356 14.7304 31.6366 15.2678 31.9398C15.8052 32.2429 16.4397 32.3243 17.0362 32.1665Z" fill="#0A66C2"/>
                <path d="M40.2929 2.2331L30.8409 14.2758C27.3673 12.1058 23.2574 11.1859 19.1902 11.6679C15.123 12.15 11.342 14.0052 8.47186 16.927C5.60176 19.8488 3.81436 23.6623 3.405 27.7375C2.99565 31.8126 3.98883 35.9055 6.22044 39.3398C8.45205 42.774 11.7885 45.3442 15.6786 46.6256C19.5686 47.907 23.7794 47.8228 27.6152 46.3871C31.451 44.9514 34.6822 42.2501 36.7749 38.7294C38.8675 35.2087 39.6965 31.0795 39.1247 27.0239C38.6207 23.3652 36.9915 19.9536 34.4627 17.2618L43.9871 5.13116C44.1834 4.8892 44.3296 4.61058 44.4172 4.31154C44.5047 4.01251 44.5319 3.69904 44.4971 3.38941C44.4622 3.07977 44.3661 2.78017 44.2144 2.50805C44.0626 2.23593 43.8581 1.99675 43.613 1.80443C43.3678 1.61212 43.0869 1.47052 42.7864 1.38789C42.486 1.30526 42.1721 1.28326 41.8631 1.32315C41.5541 1.36305 41.2561 1.46406 40.9865 1.62028C40.7169 1.77651 40.4811 1.98483 40.2929 2.2331ZM8.12931 31.3801C7.76403 28.7752 8.17932 26.1206 9.32267 23.7517C10.466 21.3829 12.2861 19.4063 14.5528 18.0718C16.8194 16.7374 19.4309 16.1049 22.0569 16.2546C24.683 16.4042 27.2057 17.3291 29.3062 18.9124C31.4066 20.4957 32.9904 22.6662 33.8573 25.1495C34.7242 27.6329 34.8353 30.3176 34.1765 32.864C33.5178 35.4105 32.1187 37.7045 30.1563 39.4559C28.1939 41.2073 25.7562 42.3375 23.1514 42.7036C19.6585 43.1894 16.1155 42.2701 13.2994 40.1474C10.4833 38.0247 8.62404 34.8717 8.12931 31.3801Z" fill="#0A66C2" stroke="white"/>
                </svg>
                          
        </a>
        <p class="sign-up">Don't have an Account? <a href="/register">Register Now</a></p>
    </div>
    <div class="login">
        <div class="login-info">
            <div class="login-field">
                <div class="heading">
                    <h2>Welcome</h2>
                </div>          
                <p>Please sign-in to your account and start the adventure</p>
                <form name="loginForm">
                    <div class="form-input">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" placeholder="Enter your email address" required>
                        <p class="error email-error"></p>
                    </div>
                    <div class="form-input password">
                        <label for="password">Password</label>
                        <div>
                            <input type="password" name="password" id="password" placeholder="Enter your password" required>
                            <img id="hide" src="image/eye.png" alt="">
                        </div>
                        <p class="error password-error"></p>
                    </div>
                    <div class="forgot">
                        <div class="check">
                            <!-- <input type="checkbox" name="check">
                            <label for="check">Remember me</label> -->
                        </div>
                        <a href="">Forgot Password?</a>
                    </div>
                    <button id="login" name="login" class="submit">
                        <div id="loading" class="loading" style="display: none;"></div>
                        <span id="noloading" style="display: block;">Login</span>
                    </button> 
                    <div class="orline">
                        <svg width="409" height="23" viewBox="0 0 409 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M205.898 11.6019C205.898 12.3035 205.809 12.9428 205.63 13.5198C205.452 14.0927 205.186 14.5867 204.833 15.0018C204.484 15.4128 204.051 15.7304 203.532 15.9545C203.013 16.1787 202.411 16.2908 201.726 16.2908C201.02 16.2908 200.404 16.1787 199.877 15.9545C199.353 15.7304 198.918 15.4107 198.569 14.9956C198.224 14.5805 197.965 14.0844 197.791 13.5074C197.62 12.9303 197.535 12.291 197.535 11.5895C197.535 10.6596 197.689 9.84383 197.996 9.14227C198.303 8.4407 198.768 7.8948 199.391 7.50458C200.018 7.11436 200.802 6.91925 201.745 6.91925C202.645 6.91925 203.403 7.11228 204.017 7.49835C204.636 7.88442 205.103 8.42824 205.419 9.12981C205.738 9.82723 205.898 10.6513 205.898 11.6019ZM198.65 11.6019C198.65 12.3741 198.76 13.0424 198.98 13.607C199.2 14.1716 199.536 14.6074 199.989 14.9146C200.445 15.2218 201.024 15.3754 201.726 15.3754C202.432 15.3754 203.009 15.2218 203.457 14.9146C203.91 14.6074 204.244 14.1716 204.46 13.607C204.675 13.0424 204.783 12.3741 204.783 11.6019C204.783 10.4271 204.536 9.50966 204.042 8.8496C203.553 8.18539 202.787 7.85329 201.745 7.85329C201.039 7.85329 200.458 8.00481 200.001 8.30785C199.544 8.6109 199.204 9.04263 198.98 9.60306C198.76 10.1593 198.65 10.8256 198.65 11.6019ZM210.388 7.06247C211.135 7.06247 211.751 7.15587 212.237 7.34268C212.727 7.52534 213.092 7.80555 213.333 8.18332C213.574 8.56108 213.694 9.04263 213.694 9.62797C213.694 10.1095 213.607 10.5122 213.433 10.836C213.258 11.1556 213.03 11.4151 212.748 11.6144C212.465 11.8136 212.164 11.9672 211.845 12.0752L214.342 16.1663H213.109L210.88 12.3678H208.987V16.1663H207.928V7.06247H210.388ZM210.325 7.97783H208.987V11.4711H210.431C211.174 11.4711 211.72 11.3196 212.069 11.0166C212.422 10.7135 212.598 10.2673 212.598 9.67778C212.598 9.05924 212.411 8.62128 212.038 8.3639C211.668 8.10652 211.097 7.97783 210.325 7.97783Z" fill="#7E7E7E"/>
                            <line x1="-0.00220025" y1="10.6417" x2="188.557" y2="9.7308" stroke="#BECAE3" stroke-width="0.910913"/>
                            <line x1="220.439" y1="10.6417" x2="408.998" y2="9.7308" stroke="#BECAE3" stroke-width="0.910913"/>
                            </svg>
                            
                            
                    </div>
                    <button id="glogin" name="glogin" class="gsubmit" onclick="loginWithGoogle()">
                        <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M20.8973 9.62306H20.1253V9.58329H11.5003V13.4166H16.9163C16.1262 15.6481 14.003 17.25 11.5003 17.25C8.32489 17.25 5.75033 14.6754 5.75033 11.5C5.75033 8.32452 8.32489 5.74996 11.5003 5.74996C12.9661 5.74996 14.2996 6.30292 15.315 7.20615L18.0256 4.4955C16.314 2.90036 14.0246 1.91663 11.5003 1.91663C6.20793 1.91663 1.91699 6.20756 1.91699 11.5C1.91699 16.7924 6.20793 21.0833 11.5003 21.0833C16.7927 21.0833 21.0837 16.7924 21.0837 11.5C21.0837 10.8574 21.0175 10.2302 20.8973 9.62306Z" fill="#FFC107"/>
                            <path d="M3.02148 7.0394L6.17009 9.3485C7.02205 7.23921 9.08534 5.74996 11.4999 5.74996C12.9656 5.74996 14.2992 6.30292 15.3145 7.20615L18.0252 4.4955C16.3136 2.90036 14.0241 1.91663 11.4999 1.91663C7.8189 1.91663 4.62669 3.99477 3.02148 7.0394Z" fill="#FF3D00"/>
                            <path d="M11.5003 21.0833C13.9757 21.0833 16.2249 20.136 17.9255 18.5955L14.9594 16.0856C13.9649 16.8419 12.7497 17.251 11.5003 17.25C9.00769 17.25 6.89121 15.6606 6.09388 13.4425L2.96875 15.8503C4.55479 18.9539 7.77575 21.0833 11.5003 21.0833Z" fill="#4CAF50"/>
                            <path d="M20.8969 9.62314H20.125V9.58337H11.5V13.4167H16.916C16.5381 14.4787 15.8572 15.4068 14.9577 16.0861L14.9591 16.0852L17.9251 18.5951C17.7153 18.7858 21.0833 16.2917 21.0833 11.5C21.0833 10.8575 21.0172 10.2302 20.8969 9.62314Z" fill="#1976D2"/>
                            </svg>
                            
                        <div id="loading" class="loading" style="display: none;"></div>
                        <span id="noloading" style="display: block;">Login with Google</span>
                    </button> 
                </form>
            </div>
        </div>
        <div class="side-img">
            <div class="quote">
                <p>Money can buy you a fine dog, but only love can make him wag his tail.</p>
                <p class="author">-Kinky Friedman</p>
            </div>
        </div>
    </div>
<script src="/js/toast.js"></script>
<script src="/js/login.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    function loginWithGoogle() {
        window.location.href = '/auth/google';
    } 

function showError(errorElement, errorMessage){
document.querySelector( "." +errorElement).classList.add("display-error") ;
document.querySelector( "." +errorElement).innerHTML = errorMessage;
if(errorElement=="email-error"){
    document.querySelector("#email").style.border = "1px solid red"
}else if(errorElement=="password-error"){
    document.querySelector("#password").style.border = "1px solid red"
}
}

function clearError(){
    let errors = document.querySelectorAll(".error") ;
    for (let error of errors){
    error.classList.remove("display-error") ;
    document.querySelector("#email").style.border = "1px solid #BECAE3"
    document.querySelector("#password").style.border = "1px solid #BECAE3"
}
}
    $("#login").on("click",(e)=>{
        e.preventDefault();
        $('#noloading').hide();
        $('#loading').show();
        $("#login").prop('disabled', true);
        var email=$("#email").val();
        var password=$("#password").val();

        clearError();
        if(email==""){
        $("#login").prop('disabled', false);
        $('#loading').hide();
        $('#noloading').show();
            showError("email-error","please enter your email")
            return false;
        }

        if(password==""){
        $("#login").prop('disabled', false);
        $('#loading').hide();
        $('#noloading').show();
            showError("password-error","please enter your password")
            return false;
        }

        return fetch('/login',{
            method: 'POST',
            headers: {'Content-type':'application/json'},
            body:JSON.stringify({email,password})
        }).then(res=>res.json(res))
        .then(data=>{
            // console.log(data)
            if (data.title=="success login"){
                Toast.fire({
                title: 'Success!',
                text: 'Logged in',
                icon: 'success',
                }).then(()=>{
                    if(data.user.role=="admin"){
                        location.href='/admin/home'
                    }else{
                        location.href='/dashboard/home'
                    }
                })
            }
            if(data.title=='error'){
            $("#login").prop('disabled', false);
            $('#loading').hide();
            $('#noloading').show();
            showError("password-error","Incorrect Password")
            return false;
            }
            if(data.title=='unregistered'){
            $("#login").prop('disabled', false);
            $('#loading').hide();
            $('#noloading').show();
                showError("email-error","User not verified, Please register again")
                return false;
            }
            if(data.title=='no user'){
            $("#login").prop('disabled', false);
            $('#loading').hide();
            $('#noloading').show();
                showError("email-error","User not found, Please register")
                return false;
            }
        })

    })

</script>
</body>
</html>