<div class="addCompany-container">
    <div class="welcome-section">
        <div class="login-section m-auto m-lg-0">
            <div class="login-titlecontainer">
                <div class="loginheading">
                    <h4 class="primary-p">Change password</h4>
                </div>

                <div class="logininner-inputsection companylogo-form mt-3">
                    <form>
                        <div class="emailpassword-container">
                            <div>
                                <label class="primary-p form-label" for="currentpassword">Current
                                    Password</label>
                                    <div class="eye-button">
                                        <input type="password" id="cPassword" class="form-control" name="password"
                                            placeholder="Enter your password" />
                                            <button type="button" onclick="togglePassWordView(this)" style="background: none;">
                                                <img src="/image/icons/eye-hide.svg" class="eye-hide" alt="">
                                                <img src="/image/icons/eye-show.svg" alt="" class="eye-show"
                                                style="display: none;">
                                            </button>
                                    </div>
                                        <p class="error cPassword-error"></p>
                            </div>
                            <div>
                                <label class="primary-p form-label" for="password">New Password</label>
                                <div class="eye-button">
                                    <input type="password" id="newPassword" class="form-control" name="password"
                                        placeholder="Enter your password" />
                                        <button type="button" onclick="togglePassWordView(this)" style="background: none;">
                                            <img src="/image/icons/eye-hide.svg" class="eye-hide" alt="">
                                            <img src="/image/icons/eye-show.svg" alt="" class="eye-show"
                                            style="display: none;">
                                        </button>
                                    </div>
                                    <p class="error newPassword-error"></p>
                            </div>
                            <div>
                                <label class="primary-p form-label" for="password">Confirm
                                    Password</label>
                                <div class="eye-button">
                                    <input type="password" id="confirmPassword" class="form-control" name="password"
                                        placeholder="Enter your password" />
                                        <button type="button" onclick="togglePassWordView(this)" style="background: none;">
                                            <img src="/image/icons/eye-hide.svg" class="eye-hide" alt="">
                                            <img src="/image/icons/eye-show.svg" alt="" class="eye-show"
                                            style="display: none;">
                                        </button>
                                    </div>
                                    <p class="error confirmPassword-error"></p>
                            </div>
                        </div>
                    </form>
                    <hr>
                    <button class="saveBtn" id="PwchangeBtn" type="button" name="" value="">
                        <div id="loading" class="loading" style="display: none;"></div>
                        <span id="noloading" style="display: block;">Save Changes</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/js/toast.js"></script>
<script>

function showError(errorElement, errorMessage){
document.querySelector( "." +errorElement).classList.add("display-error") ;
document.querySelector( "." +errorElement).innerHTML = errorMessage;
if(errorElement=="cPassword-error"){
    document.querySelector("#cPassword").style.border = "1px solid red"
}else if(errorElement=="newPassword-error"){
    document.querySelector("#newPassword").style.border = "1px solid red"
}else if(errorElement=="confirmPassword-error"){
    document.querySelector("#confirmPassword").style.border = "1px solid red"
}}

function clearError(){
    let errors = document.querySelectorAll(".error") ;
    for (let error of errors){
    error.classList.remove("display-error") ;
    document.querySelector("#cPassword").style.border = "1px solid #BECAE3"
    document.querySelector("#newPassword").style.border = "1px solid #BECAE3"
    document.querySelector("#confirmPassword").style.border = "1px solid #BECAE3"
}
}
        $("#PwchangeBtn").on("click", (e) => {
            e.preventDefault();
            $('#noloading2').hide();
            $('#loading2').show();
            $("#PwchangeBtn").prop('disabled', true);
            var oldpassword = $("#cPassword").val()
            var newpassword = $("#newPassword").val()
            var confirmPassword = $("#confirmPassword").val()
            clearError();
            if (oldpassword == "" || newpassword == "" || confirmPassword == "") {
                $("#PwchangeBtn").prop('disabled', false);
                $('#loading2').hide();
                $('#noloading2').show();
                showError("cPassword-error","Please fill in all fields")
                showError("newPassword-error","Please fill in all fields")
                showError("confirmPassword-error","Please fill in all fields")
                return false;
            }
            if (!/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{8,}$/.test(newpassword)) {
                $("#PwchangeBtn").prop('disabled', false);
                $('#loading2').hide();
                $('#noloading2').show();
                showError("newPassword-error","Must be 8+ characters, 1 uppercase, 1 lowercase, 1 number")
                return false;
            }
            if (!/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{8,}$/.test(confirmPassword)) {
                $("#PwchangeBtn").prop('disabled', false);
                $('#loading2').hide();
                $('#noloading2').show();
                showError("confirmPassword-error","Must be 8+ characters, 1 uppercase, 1 lowercase, 1 number")
                return false;
            }

            if (confirmPassword !== newpassword) {
                $("#PwchangeBtn").prop('disabled', false);
                $('#loading2').hide();
                $('#noloading2').show();
                showError("newPassword-error","password didnot match")
                showError("confirmPassword-error","password didnot match")
                return false;
            }

            return fetch('/dashboard/user/settings/security', {
                method: 'POST',
                headers: { 'Content-type': 'application/json' },
                body: JSON.stringify({ oldpassword, newpassword })
            }).then(res => res.json(res))
                .then(data => {
                    console.log(data)
                    if (data.title == "Wrgpass") {
                        $('#PwchangeBtn').prop('disabled', false);
                        $('#loading2').hide();
                        $('#noloading2').show()
                        showError("cPassword-error","Old password do not match")
                        return false;
                    }
                    if (data.title == "success") {
                        console.log("data")
                        $('#PwchangeBtn').prop('disabled', false);
                        $('#loading2').show();
                        $('#noloading2').hide();

                        Toast.fire({
                            title: 'Success!',
                            text: 'Password updated',
                            icon: 'success',
                        }).then(() => {
                            window.location.reload();
                        })
                    }

                })
        })

        function togglePassWordView(element) {
            const inputField = element.parentElement.querySelector("input")
            const eyeHide = element.querySelector(".eye-hide")
            const eyeShow = element.querySelector(".eye-show")

            if(inputField.type === "password") {
                inputField.type = "text"
                eyeHide.style.display = "none"
                eyeShow.style.display = "block"
            } else if(inputField.type === "text") {
                inputField.type = "password"
                eyeHide.style.display = "block"
                eyeShow.style.display = "none"
            }
        }

    </script>